<div class="row">
	<div class="col"></div>
	<div class="col-md-10">
	<%= image_tag '01.jpg', style: "width:50%;" %>
		<p>
			<h2>TITLE</h2><br>
			<strong><%= @article.title %></strong>
		</p>
		<p>
			<%= @article.created_at.strftime('%A %-B %-d, %Y | %l:%M %p') %>
		</p>
		<p>
			<h3>ARTICLE</h3><br>
			<%= @article.text %>
		</p>
	<hr>
			<%= render 'comments/comment' %>
	<hr>
			<%= render 'comments/form' %>
		<p>
			<%= link_to 'Back', articles_path, class: 'btn btn-md btn-info' %>
			<%= link_to 'Home', welcome_index_path, class: 'btn btn-md btn-primary' %>
		</p>
	</div>
	<div class="col"></div>
</div>